.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
}
.container > button {
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}
.container > button:hover {
    transform: scale(1.05);
}
.nutritionalValue {
    position: absolute;
    top: 35px;
    width: 250px;
    margin-top: 0px;
    right: -12px;
    left: initial;
    min-height: 45px;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(55, 53, 53);
    color: rgb(255, 255, 255);
    font: 500 14px / 1.25 Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    transition-property: opacity, margin-top;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    z-index: 3;
}
.nutritionalValue > i {
    position: absolute;
    width: 22px;
    height: auto;
    fill: rgb(55, 53, 53);
    top: -9px;
    margin-left: -11px;
    right: 14px;
    left: initial;
}
.nutritionalValue > h2 {
    font: 500 12px / 14px Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin: 0px 0px 12px;
}
.nutritionalValue > .margin {
    margin-bottom: 12px;
}
.nutritionalValue > section {
    font: 500 12px / 13px Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    margin-bottom: 8px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.nutritionalValue > :last-child {
    margin-bottom: 0px;
}