.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: rgb(92, 99, 112);
}

.card {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 92px;
    margin: 8px 0 0;
    padding: 12px;
    border-radius: 16px;
    box-shadow: rgb(6 5 50 / 24%) 0 1px 2px;
}

.image {
    position: relative;
    align-self: flex-start;
    min-width: 68px;
    width: 68px;
    height: 68px;
    margin-right: 8px;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image > .leftSide, .rightSide {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.95;
    right: 0px;
    z-index: 1;
}

.image > .leftSide {
    left: 0px;
}

.description {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.pizzaHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    font: 500 16px / 18px Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.pizzaTitle {
    color: black;
}
.pizzaHeader > button {
    background: none;
    border: none;
}
.pizzaOptional span {
    color: rgb(92, 99, 112);
    font: 12px / 16px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}