.window {
    display: none;
    flex-flow: column;
    justify-content: center;
    min-height: 100%;
}

:global(.visible) .window {
    display: flex;
}

.container {
    position: relative;
    display: flex;
    width: 924px;
}

.closeButton {
    position: absolute;
    top: 13px;
    right: -38px;
}

.form {
    display: flex;
    background: RGB(255, 255, 255);
    transition: background-color 150ms ease 0s;
    box-shadow: rgba(0, 0, 0, 0.2) 0 30px 60px;
    border-radius: 20px;
    overflow: hidden;
}