.container {
    display: flex;
    position: relative;
}
.blur {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 15px;
    height: 132px;
    width: calc(50% - 16px);
    background: rgb(255, 255, 255);
    opacity: 0.95;
    border-radius: 6px;
    z-index: 2;
}
.left {
    display: block;
    left: 16px;
}
.right {
    display: block;
    right: 16px;
}