.main {
    flex: 1 0 auto;
    flex-direction: column;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1279px) {
    .main {
        width: 960px;
    }
}